<!--  completed tasks / styling from daily.html -->
<div class="tasks">

  <!-- complete tasks header -->
  <div class="tasksHeader">
    <h2>Complete Tasks</h2>
  </div>

  <!-- complete task info / checkbox to add back to daily tasks -->
  <div class="tasksBody">
    <div class="taskDisplay" ng-repeat="item in complete.items.taskItems.completed">
      <div class="taskBar">
        <input type="checkbox" ng-model="item.complete" ng-click="complete.updateTask(item.id, item.item, item.complete, item.start_date, item.end_date)"><label>{{item.item}}</label>
      </div>
    </div>
  </div>
</div>
