<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a Task</h4>
      </div>
      <div class="modal-body">
        <form class="addTaskForm" ng-model="daily.addTaskForm">
          <div class="form-group">
            <label for="item">Task:</label>
            <input type="text" class="form-control" id="item" ng-model="daily.item">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="daily.dateCheckbox" aria-label="Tottle ngHide">Choose a Start Date</label>
          </div>
          <div class="check-element animate-show" ng-show="daily.dateCheckbox">
            <p class="form-group">
              <label>Task Start Date</label>
              <input type="text" ng-model="daily.startDate" class="form-control" placeholder="mm/dd/yyyy">
            </p>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="daily.addTask(daily.item, daily.startDate, daily.endDate)">Add Task</button>
      </div>
    </div>
  </div>
</div>

<h1>daily</h1>

<div class="tasks">

  <div class="tasksHeader">

    <h2>Tasks</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      Add Task
    </button>
  </div>

  <div class="tasksBody">
    <div class="task" ng-repeat="item in daily.items">
      <div class="taskBar">
        <input type="checkbox" ng-model="item.complete" ng-click="daily.updateTask(item.id, item.item, item.complete, item.start_date, item.end_date)"><label>{{item.item}}</label> <button type="button" class="btn btn-default" ng-click="item.isCollapsed = !item.isCollapsed">Edit</button>
      </div>
      <div ng-init="item.isCollapsed=true" uib-collapse="item.isCollapsed">

        <div class="well well-lg">
          <form ng-init="item.name = item.item">
            <div class="form-group">
              <label for="item">Task:</label>
              <input type="text" class="form-control" id="item" ng-model="item.name">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="item.dateCheckbox" aria-label="Tottle ngHide">Edit Date</label>
            </div>
            <div class="check-element animate-show" ng-show="item.dateCheckbox">
              <p class="form-group">
                <label>Task Start Date</label>
                <input type="text" ng-model="item.start_date" class="form-control" placeholder="mm/dd/yyyy">
              </p>
              <!-- <div class="checkbox">
                <label><input type="checkbox" ng-model="item.multipleDays" aria-label="Tottle ngHide">Multiple Days</label>
              </div>
              <div class="check-element animate-show" ng-show="item.multipleDays">
                <p class="form-group">
                  <label>End Date</label>
                  <input type="text" class="form-control" ng-model="item.end_date" placeholder="mm/dd/yyyy">
                </p>
              </div> -->
            </div>
            <button type="submit" class="btn btn-default" ng-click="daily.deleteTask(item.id)">Delete</button>
            <button type="submit" class="btn btn-default" ng-click="daily.updateTask(item.id, item.name, item.complete, item.start_date, item.end_date)">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="events">
  <div class="eventsHeader">

    <h2>Events</h2>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      Add Task
    </button> -->
  </div>
  <div class="tasksBody">

    <div class="task" ng-repeat="event in daily.events">
      <div class="taskBar">

        <label>{{event.summary}}</label> <button type="button" class="btn btn-default" ng-click="item.isCollapsed = !item.isCollapsed">View Event</button>
      </div>
      <div ng-init="item.isCollapsed=true" uib-collapse="item.isCollapsed">

        <div class="well well-lg">
          <p>{{event.description}}</p>
          <p>{{event.location}}</p>
          <p>{{event.start.dateTime | date : 'fullDate'}}</p>
          <p>{{event.start.dateTime | date : 'shortTime'}}</p>
          <p>{{event.end.dateTime | date : 'shortTime'}}</p>

        </div>
      </div>
    </div>
  </div>
  </div>
