<h1>weekly</h1>
<div class="weeklyTasksEvents">
  <div class="eventDay" ng-repeat="(day, events) in weekly.days">
    

    <div class="events">
      <div class="task" >
        <p>
          {{day.toUpperCase()}}

          <!-- {{events}} -->
        </p>
        <p ng-repeat="event in events">{{event.summary}}</p>
      </div>
    </div>

  </div>
</div>


    <!-- <p>{{event.description}}</p>
    <p>{{event.location}}</p>
    <p>{{event.start.dateTime}}</p>
    <p>{{event.end.dateTime}}</p> -->
