body {
  background-color: #414042;
  color: #F25B53;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: #DBDECA;
}
.boxes {
  display: flex;
  justify-content: center;
}
.box {
  background-color: #807D80;
}
nav {
  background-color: #807D80;
}
ul {
  display: flex;
  list-style: none;
}
li:last-child {
  margin-left: 10px;
}
.box {
  height: 100px;
  width: 100px;
  border: 2px black solid;
  margin: 2px;
}
main {
  text-align: center;
}
main h1 {
  text-align: left;
}
main form {
  text-align: left;
}

.tasks {
  text-align: left;
  margin: auto;
  width: 50%;
}
.tasksHeader h2 {
  display: inline;
}
.tasksBody {
  text-align: center;
}
.task {
  margin: 2px;
}
.taskBar {
  border: 2px solid #807D80;
  border-radius: 10px;
}
.tasksBody input {
  margin: 0 2px 0 2px;
}
.tasksBody label {
  width: 75%;
}
.hidden {
  display: none;
}
.show {

}
